body {
    font-family: 'Roboto', sans-serif;
    background-color: #0069c0;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

a {
    text-decoration: none;
    color: #ab3ed8;
    font-weight: bold;
}

#login {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.nome input,
.email input,
.senha input {
    border-radius: 15px;
    border: 2px solid #7f00b2;
    width: 250px;
    height: 40px;
    padding-left: 15px;
    background-color: #ffffff;
    color: #0069c0;
    font-size: 16px;
    margin-bottom: 15px;
}

.entrar input {
    cursor: pointer;
    width: 120px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: #7f00b2;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.entrar input:hover {
    background-color: #ab3ed8;
    transform: scale(1.1);
}

input::placeholder {
    color: #7f00b2;
}

h1 {
    color: #ffffff;
    font-size: 24px;
    margin-bottom: 20px;
}

.caixa {
    margin-top: 65px;
}

.caixa img {
    width: 115px;
}

input:focus {
    outline: 2px solid #2196f3;
    background-color: #f0f0f0;
    color: #0069c0;
}
